<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="sales_order_place_after">
       <observer name="checkoutfields_order_place_after" instance="Extroniks\CheckoutFields\Observer\OrderPlaceAfter" />
   </event>
   <event name="sales_order_save_after">
       <observer name="checkoutfields_order_save_after" instance="Extroniks\CheckoutFields\Observer\OrderSaveAfter" />
   </event>
</config>